/* This is an example of how to import a partial scss file*/
@import '_variables';
@import '_mixins.scss';
@import '_reset.scss';


body {
  @include fontSize(40px);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  color: #fff;
  font-family: 'Six Caps', sans-serif;

}

button {
  cursor: pointer;
  font-family: 'Six Caps', sans-serif;
  border: 2px solid #5b5b5b;
}

.main-login-section {
  @include flexbox(none, center, center);
  height: 100vh;
  width: 100%;
}

.login-form {
  @include flexbox(column, center, center);
  @include fontSize(30px);
  background-color: #191919;
  border-radius: 5px;
  height: 70%;
  width: 40%;
  padding: 10px;
  // border: 2px solid blue;
}

.form-element-label {
  @include fontSize(40px);
}

.form-input {
  width: 40%;
  height: 10%;
  border: 2px solid #321414;
  margin: 20px;
}
.login-button {
  @include fontSize(60px);
  margin-top: 30px;
  height: 15%;
  width: 40%;
  border: 3px solid #5b5b5b;
  box-shadow: 0px 2px 2px #3A231B;
  // font-family: 'Six Caps', sans-serif;
}

// DASHBOARD


.user-dashboard-section {
  @include flexbox(none, none, none);
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.dashboard-header {
  @include flexbox(none, flex-end, center);
  color: #fff;
  height: 20%;
  width: 100%;
}

.hotel-name {
  @include flexbox(none, center, none);
  @include fontSize(125px);
    width: 80%;
    margin-left: 10%;
    color: #fff;
}

.user-greeting-and-logout {
  @include flexbox(column, space-between, flex-end);
  @include fontSize(25px);
  height: 100%;
  width: 20%;
}

.greeting-msg {
  @include fontSize(40px);
  margin-right: 20px;
}

.nav-logout-button {
  @include flexbox(none, center, center);
  @include fontSize(40px);
  width: 35%;
  height: 40%;
  margin-right: 10px;
  margin-bottom: 10px;
  // background-color: #3A231B;
  // font-family: 'Six Caps', sans-serif;
  // border: 2px solid #5b5b5b;
  border-radius: 5px;
  // box-shadow: 0px 3px 5px #000000;

  // color: #fff;
}

.left-booking-section {
  @include flexbox(column, none, center);
  border: 2px solid green;
  height: 80%;
  width: 30%;
}

.book-a-room-button {
  @include flexbox(none, center, center);
  @include fontSize(50px);
  margin-top: 20px;
  height: 10%;
  width: 70%;
  color: #000000;
  border-radius: 5px;
  border: 2px solid #5b5b5b;
  box-shadow: 0px 3px 5px #000000;
  // font-family: 'Six Caps', sans-serif;
  // background-color: #B0A7A3;
}

//THIS MIGHT TURN INTO RADIO BUTTONS?
//TO DISPLAY AVAILABLE ROOMS?
.select-date-section {
  @include flexbox(none, space-around, center);
  @include fontSize(25px);
  // border: 2px solid yellow;
  height: 20%;
  width: 90%;
  margin-top: 15px;
}

.select-date-label {
  @include fontSize(40px);
}

.available-rooms-input {
  height: 50%;
  width: 70%;
}

.available-rooms-div {
  @include flexbox(column, center, center);
  border: 2px solid pink;
  height: 60%;
  width: 80%;
  padding-top: 70px;
  overflow-y: auto;
}

.available-room-card {
  @include flexbox(column, none, center);
  border: 2px solid white;
  width: 90%;
  margin: 5px;
}

.select-available-room-button {
  @include fontSize(40px);
  height: 10%;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 2px #3A231B;
}

.right-user-booking-log-section {
  @include flexbox(none, center, none);
  color: #fff;
  height: 80%;
  width: 69%;
}

.customer-bookings-div {
  @include flexbox(column, none, center);
  background-color: #bcbcbc;
  opacity: .9;
  color: #000000;
  margin-top: 20px;
  border-radius: 5px;
  width: 97%;
  height: 93%;
  border: 2px solid red;
}

.display-customer-bookings-div {
  @include flexbox(none, center, none);
  flex-wrap: wrap;
  height:93%;
  width: 97%;
  border: 2px solid yellow;
  overflow-y: auto;
}

.user-booking-card {
  @include flexbox(column, center, center);
  // @include fontSize(40px);
  height: 35%;
  width: 20%;
  margin: 10px;
  border: 2px solid blue;
}

.hidden {
  display: none;
}
